/* Estilos para o formulário de tarefas */
.task-form {
    background-color: #d7d7d7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task-form input,
  .task-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .task-form button {
    transition: background-color 0.3s ease;
    background-color: #007bff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .task-form button:hover {
    background-color: #0056b3;
  }
  
  .button-icon {
    margin-right: 5px;
    vertical-align: middle;
  }
  